.d-inline-block{
    clip-path: circle(50% at 50% 50%);
}
.name{
    font-size: 40px;
    font-weight: bold;
}
#navbarSupportedContent{
    margin-left: 53%;
}
.navbar-nav{
    font-size: 18px;
}
@media(max-width: 992px){
    #navbarSupportedContent{
        margin-left: 38%;
    }
}
@media(max-width: 363px){
    .name{
        font-size: 33px;
        font-weight: bold;
    }
}
/* ----------PROFESSIONAL-------------- */
.img1{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./Images/Professional.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
}
.h-document{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./Images/Document.jpg);
}
.f-resource{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./Images/Faculty\ Resource.jpg);
}
.s-resource{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./Images/Student\ Resource.jpg);
}
.c-study{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./Images/Case\ Study.jpg);
}
 .img2 h1{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    margin: -182px auto 0 auto;
    color: white;
    font-size: 60pt;
}
@media (max-width: 470px){
    .img2 h1{
    margin: -204px auto 0 auto;
    font-size: 46pt;
    }
}
/* ----------DROPDOWN---------- */

.dropbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
/* .accordion{
    width: 100%;
} */
.accordion .contentbx{
    position: relative;
    margin: 5px 20px;
}
.accordion .contentbx .label{
    position: relative;
    padding: 10px;
    cursor: pointer;
    border: 2px solid beige;
}
.accordion .contentbx .label::before{
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;  
}
.accordion .contentbx.active .label::before{
    content: '-';
}
.accordion .contentbx .content{
    position: relative;
    background: #dedfe8;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentbx.active .content{
    height: 150px;
    padding: 10px;
}
.accordion .content{
    text-align: justify;
}
/* ----------- FOOTER ---------- */
footer{
    background: #101010;
    padding: 85px 0;
}
.singlebox p{
    color: #fff;
}
.singlebox h4{
    font-weight: 700;
    color: #fff;
}
.singlebox ul{
    list-style: none;
    padding: 0;
}
.singlebox ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 2.2;
}
.socials a i{
    font-size: 35pt;
    margin: 8px 20px 0 0;
    color: #fff;
}
@media(max-width: 991px){
    .singlebox{
        margin-bottom: 50px;
    }
}
